* {
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  text-align: center;
  margin: 20px 35px;
  flex-wrap: wrap;
}
.logo {
  display: flex;
  margin-left: 35px;
}
.logo h3 {
  margin: 8px;
  color: #ef5f4c;
}
.pesquisa {
  display: flex;
  width: 325px;
  height: 40px;
  text-align: center;
  margin-right: 35px;
  font-size: 16px;
  font-weight: 200;
}
.pesquisa .lupa {
  width: 30px;
}
.pesquisa ul {
  display: flex;
  margin-left: 15px;
}
.pesquisa li {
  margin: 10px;
}
.pesquisa img {
  width: 40px;
}
nav {
  width: auto;

  display: flex;
  background-color: #6c6c6c11;
  padding: 32px;
  height: 240px;
  justify-content: space-around;
  /* margin: auto; */
}
.contener {
  display: flex;
  margin: auto auto;
}

.contener img {
  width: 176px;
  height: 176px;
  display: flex;
}

.sobre {
  margin-left: 32px;
  width: 384px;
  height: 176px;
  margin-left: 35px;
}
.sobre h1 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}
.sobre p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.localizacao {
  width: 280px;
  height: 104px;
  display: flex;
  flex-wrap: wrap;
}
.info {
  display: flex;
  margin-right: 100px;
}
.info img {
  text-align: center;
  width: 24px;
}
.info p {
  width: 180px;
  text-align: left;
  padding: 8px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.galeria {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
width: 1280px;

}
.galeria img {
  margin:24px auto;
  width: 286px;
  height: 286px;
}
footer {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 12px;
  margin: 32px auto ;
  flex-wrap: wrap;
  text-align: center;
}

footer p{
display: flex;
flex: content;
margin: 32px;
text-align: center;

}
.priva {
margin: auto;
}
.priva2 {
  text-align: center;
  display: flex;
}
.priva2 p{
  margin: 16px;
}
